body {
    font-family: 'Merriweather', serif;
    /* font-family: 'Open Sans', sans-serif; */
    /* font-family: 'Work Sans', sans-serif; */
    font-family: 'Inter', sans-serif;
}

.header {
    background: linear-gradient(40deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../image/Banner\ Image.png');
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    width: 82.5%;
    max-width: 1320px;
    height: 600px;
    margin-left: 15%;
    border-radius: 16px;
    margin-top: 50px;
    /* background-image: linear-gradient(40deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%); */
}

.header-text {
    padding-top: 177px;
    text-align: center;
    color: #fff;
}

.paragraph {
    font-size: 32px;
    font-weight: 400;
}

.header-text-h2 {
    font-size: 72px;
    font-weight: 900;
    width: 632px;
    text-align: center;
    padding-left: 344px;
    margin-top: 16px;
}

.section-1 {
    text-align: center;
    margin-top: 120px;
}

.section-1-h4 {
    color: #f00;
    font-size: 88px;
    font-weight: 700;
}

.section-1-p {
    margin-top: 48px;
    color: #f00;
    font-size: 24px;
    font-weight: 500;
}

.section-1-h4-1 {
    margin-top: 16px;
    color: #070211;
    font-size: 48px;
    font-weight: 700;
}

.section-2 {
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../image/Vectorrr.png');
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    width: 82.5%;
    max-width: 1320px;
    height: 600px;
    margin-left: 15%;
    border-radius: 16px;
    margin-top: 120px;

}

.section-2-all {
    display: flex;

}

.section-2-div {
    padding-top: 50px;
    padding-left: 126px;

}

.section-2-h4 {
    width: 642px;
    color: #fff;
    font-size: 64px;
    font-weight: 900;
    margin-bottom: 24px;
}

.section-2-p {
    margin-top: 0px;
    width: 697px;
    font-size: 18px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.80);
}

.section-2-btn {
    margin-top: 48px;
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.section-2-img {
    width: 319.83px;
    height: 464.662px;
    padding-top: 68px;
    margin-left: 39px;

}

.section-3-div {
    width: 82.5%;
    height: 482px;
    margin-top: 120px;
    margin-left: 15%;
    max-width: 1320px;
    text-align: center;
    padding-top: 100px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
}

.span-p {
    color: #f00;
    font-size: 32px;
    font-weight: 600;
    text-transform: capitalize;
}

.section-3-p {
    color: #070211;
    font-size: 32px;
    font-weight: 600;
    text-transform: capitalize;
}

.section-3-btn {
    width: 167px;
    height: 56px;
    border: none;
    border-radius: 8px;
    background-color: #f00;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 48px;
}

.section-4-common-div {
    display: flex;
    margin-top: 120px;
    width: 82.5%;
    max-width: 1320px;
    margin-left: 15%;
}

.section-4-common-div-2 {
    display: inline;
    margin-left: 118px;
}

.section-4-h6 {
    margin-top: 104px;
    color: #f00;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.section-4-h4 {
    margin-top: 0px;
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 22px;
}

.section-4-p {
    margin-top: 0px;
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    width: 393px;
    /* height: 128px; */
    line-height: 32px;
}

.elli {
    width: 364.844px;
    height: 364.844px;
    border-radius: 50%;
    padding: 49px;
}

.section-4-div-2-img {
    width: 463px;
    height: 463px;
    border-radius: 50%;
    border:15px solid #f00;
}
.section-4-common-div-2-h3{
    margin-top: 112px;
    /* width: 126px; */
    font-size: 48px;
    font-weight: 700;
    color: #f00;
    margin-bottom: 16px;
}
.section-4-common-div-2-p{
    margin-top: 0px;
    width: 276px;
    color:rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 43px;
}