body {
    font-family: 'Merriweather', serif;
    font-family: 'Inter', sans-serif;
}

.header {
    background: linear-gradient(40deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../image/Banner\ Image.png');
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    width: 82.5%;
    max-width: 1320px;
    height: 600px;
    margin-left: 15%;
    border-radius: 16px;
    margin-top: 50px;
}

.header-text {
    padding-top: 177px;
    text-align: center;
    color: #fff;
}

.paragraph {
    font-size: 32px;
    font-weight: 400;
}

.header-text-h2 {
    font-size: 72px;
    font-weight: 900;
    width: 632px;
    text-align: center;
    padding-left: 344px;
    margin-top: 16px;
}

.section-1 {
    text-align: center;
    margin-top: 120px;
}

.section-1-h4 {
    color: #f00;
    font-size: 88px;
    font-weight: 700;
}

.section-1-p {
    margin-top: 48px;
    color: #f00;
    font-size: 24px;
    font-weight: 500;
}

.section-1-h4-1 {
    margin-top: 16px;
    color: #070211;
    font-size: 48px;
    font-weight: 700;
}

.section-2 {
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../image/Vectorrr.png');
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    width: 82.5%;
    max-width: 1320px;
    height: 600px;
    margin-left: 15%;
    border-radius: 16px;
    margin-top: 120px;

}

.section-2-all {
    display: flex;

}

.section-2-div {
    padding-top: 50px;
    padding-left: 126px;

}

.section-2-h4 {
    width: 642px;
    color: #fff;
    font-size: 64px;
    font-weight: 900;
    margin-bottom: 24px;
}

.section-2-p {
    margin-top: 0px;
    width: 697px;
    font-size: 18px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.80);
}

.section-2-btn {
    margin-top: 48px;
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.section-2-img {
    width: 319.83px;
    height: 464.662px;
    padding-top: 68px;
    margin-left: 39px;

}

.section-3-div {
    width: 82.5%;
    height: 482px;
    margin-top: 120px;
    margin-left: 15%;
    max-width: 1320px;
    text-align: center;
    padding-top: 100px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
}

.span-p {
    color: #f00;
    font-size: 32px;
    font-weight: 600;
    text-transform: capitalize;
}

.section-3-p {
    color: #070211;
    font-size: 32px;
    font-weight: 600;
    text-transform: capitalize;
}

.section-3-btn {
    width: 167px;
    height: 56px;
    border: none;
    border-radius: 8px;
    background-color: #f00;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 48px;
}

.section-4-common-div {
    display: flex;
    margin-top: 120px;
    width: 82.5%;
    max-width: 1320px;
    margin-left: 15%;
}

.section-4-common-div-2 {
    display: inline;
    margin-left: 118px;
}

.section-4-h6 {
    margin-top: 104px;
    color: #f00;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.section-4-h4 {
    margin-top: 0px;
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 22px;
}

.section-4-p {
    margin-top: 0px;
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    width: 393px;
    line-height: 32px;
}

.elli {
    width: 364.844px;
    height: 364.844px;
    border-radius: 50%;
    padding: 49px;
}

.section-4-div-2-img {
    width: 463px;
    height: 463px;
    border-radius: 50%;
    border: 15px solid #f00;
}

.section-4-common-div-2-h3 {
    margin-top: 112px;
    font-size: 48px;
    font-weight: 700;
    color: #f00;
    margin-bottom: 16px;
}

.section-4-common-div-2-p {
    margin-top: 0px;
    width: 276px;
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 43px;
}

.section-5 {
    text-align: center;
    margin-top: 120px;
    align-items: center;
}

.section-5-h4 {
    color: #070211;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
    text-transform: uppercase;
}

span {
    color: #f00;
}

.section-5-h3 {
    margin-top: 0px;
    color: #070211;
    font-size: 72px;
    font-weight: 900;
    font-family: Merriweather;
    margin-bottom: 28px;
}

.section-5-div {
    height: 96px;
    width: 1068px;
    color: rgba(7, 2, 17, 0.60);
    margin-top: 0;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    margin-left: 20%;
}

.bonous {
    margin-top: 500px;
    margin-left: 300px;
    width: 1600px;
    height: 733px;
}

.girl {
    width: 429px;
    height: 433px;
    position: absolute;
    margin-left: 891px;
    margin-top: -433px;
}

.circle {
    position: absolute;
    margin-top: -350px;
    margin-left: 750px;
}

.Rectangle {
    z-index: -1;
}

.surprice-box {
    position: absolute;
    height: 600px;
    width: 600px;
    margin-top: -380px;
    margin-left: -1300px;
}

.section-6 {
    background: url('../image/Rectangle\ 1.png');
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    width: 429px;
    height: 433px;
    margin-left: 1034px;
}

.section-5-img {
    position: absolute;
    margin-right: 8000px;
}

.section-7-div {
    margin-left: 140px;
    padding-left: 160px;
}

.section-7-h4 {
    color: #f00;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.section-7-h3 {
    margin-top: 0;
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 22px;
}

.section-7-p {
    margin-top: 0;
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    width: 896px;
}

.section-7-product-containar {
    margin-top: 48px;
    padding: 0px 300px 0px 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.Group-61 {
    text-align: center;
    margin-top: 200px;
}

.mail-sec {
    text-align: center;
}

.email-h4 {
    margin-top: 40px;
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 22px;
}

.email-p {
    margin-top: 0px;
    width: 896px;
    height: 64px;
    margin-left: 500px;
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 48px;
}

.btn {
    text-align: center;
}

.placeholder-2 {
    margin-top: 0px;
    width: 648px;
    height: 72px;
    background: #FFF;
    border-radius: 50px 0px 0px 50px;
    border: none;
}

.Subscribe {
    width: 210px;
    height: 72px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    border: none;
    color: #fff;
    text-align: center;
    margin-left: -4px;

}

.span-Subscribe {
    color: #fff;
    height: 98px;
    width: 24px;
    font-size: 20px;
    font-weight: 600;
}

.footer {
    width: 100%;
    max-width: 2000px;
    height: 620px;
    background: #070211;
    margin-top: 200px;
}

.footer-p {
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    padding-top: 120px;
    margin-left: 140px;
    width: 400px;
}

.common {
    display: flex;
}

.common-2 {
    padding-top: 120px;
    margin-left: 600px;
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
}

.hr {
    margin-left: 140px;
    margin-right: 140px;
    border: 0.5px solid rgba(255, 255, 255, 0.15);
}

.footer-icon {
    margin-top: 48px;
}

.footer-icon-div {
    display: flex;
    margin-left: 750px;
    gap: 24px;
    margin-bottom: 48px;
}

.final-div {
    margin-top: 50px;
    color: #FFF;
    margin-left: 140px;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 500;
}

.final-p {
    margin-right: 140px;
}